.gradient {
  background: linear-gradient(109.14deg, #5b4dee 0%, #2603a4 95.95%);
}

.green-gradient {
  background: linear-gradient(180deg, #4bae4f 0%, #038609 100%);
}

.chart-gradient {
  background: linear-gradient(126.97deg, #E8FFE3 28.26%, #FFFFFF 91.2%);

}

.border-gradient {
  background: linear-gradient(109.14deg, #5B4DEE 0%, #2603A4 95.95%);
}




